# .NET env and app settings
ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=cvdb;Username=postgres;Password=postgres
OPENROUTER_API_KEY=
# use `openssl rand -base64 32` or any random cammand
Jwt__Key=pnKjIc/Xm4+deuJIIe916VVJW1Q7CbfUUCVwD/34P/8= 

Jwt__Issuer=https://your-domain.com
Jwt__Audience=https://your-domain.com
Minio__Endpoint=minio:9000
Minio__AccessKey=minioadmin
Minio__SecretKey=minioadmin123

# postgres settings
POSTGRES_DB=cvdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Minio settings
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_HOST=minio

# Nextjs frontend public endpoint
NEXT_PUBLIC_API_URL=http://localhost:5044
